@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply border-0 p-2 px-6 bg-slate-100 rounded-md;
  }
}
/* * {
   border: 0.5px solid red;
} */

.MuiOutlinedInput-notchedOutline {
      border: none !important;
    }
body{

      scrollbar-width: none !important;
      scrollbar-color: none !important;

    }